# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ecommerce_db"

# JWT
JWT_SECRET="tu_jwt_secret_aqui_minimo_32_caracteres"
JWT_REFRESH_SECRET="tu_refresh_secret_aqui_minimo_32_caracteres"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Email (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="tu_email@gmail.com"
SMTP_PASS="tu_contraseña"
EMAIL_FROM="soporte@ecommerce.com"

# Stripe (opcional)
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# Mercado Pago
MERCADOPAGO_PUBLIC_KEY="APP_USR-f98ce5f9-6f37-4fde-91f5-d79750a9ef98"
MERCADOPAGO_TOKEN="APP_USR-373448898188386-122122-558be3f609f0a3ced3ae83222cb9a6d4-308579546"

# Frontend URL
FRONTEND_URL="http://localhost:5173"

# Cloudinary
CLOUDINARY_CLOUD_NAME="tu_cloud_name_aqui"
CLOUDINARY_API_KEY="tu_api_key_aqui"
CLOUDINARY_API_SECRET="tu_api_secret_aqui"

# Configuración Sistema
TAX_PERCENTAGE=18
STOCK_RESERVE_MINUTES=15